{% extends "APP_IVG/layout.html" %}
{% load static %}
{% block content %}	
<div class="container-fluid" style=" background-image: url({% static 'imagens/Inserir-Dados-Background.jpg' %}); background-size: cover; height: auto; margin: 0 0 0 0; padding: 100px; width: 100%;">
    <div class="container-fluid p-4" style="background: rgba(0, 0, 0, .8);">
		<h1>O seu usuário ainda não foi verificado por nós. Por favor, aguardar enquanto contatamos você pelo seu email, verifique se seu email está correto porque essa é a nossa única via de contato! Você pode acessar e alterar ele na janela "sua empresa"!
		</h1>
	</div>
</div>
{% endblock content %}