{% extends "APP_IVG/layout.html" %}
{% load static %}
{% block content %}
<div class="container-fluid" style=" background-image: url({% static 'imagens/DadosDeMercadoSemDados.jpg' %}); background-size: cover; height: auto; margin: -50px 0 0 0; padding: 150px; width: 100%;">
	<div class="container bg-white text-dark" style="border-radius: 20px; padding: 10px 50px;">
		<h1>Favor inserir mais dados! Para sermos capazes de te ajudar :)</h1>
		<p> No contador abaixo, você pode acompanhar a quantidade mínima de dados necessários para ver a tabela de top carros mais vendidos.</p>
		<p> Seu total de dados é : {{ contador }} você precisa inserir mais {{ faltante }}</p>
	</div>
</div>
{% endblock content %}