{% extends "APP_IVG/layout.html" %}
{% block content %}
	<a href="{% url 'data-InsiraDado' %}" class="btn btn-primary">Adicionar novo dado</a></span>
	<table id="bootstrapdatatable" class="table table-striped table-dark" width="100%">
		<thead>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Status</th>
            <th>Cor</th>
            <th>Combustivel</th>
            <th>Quilometragem</th>
            <th>Lucro</th>
            <th>Preco</th>
            <th>Deletar</th>

        </thead>
		{% for q in query %}
		<tr>
			<td> {{ q.marca }} </td>
			<td> {{ q.modelo }} </td>
			<td> {{ q.ano }} </td>
			<td> {{ q.status }} </td>
			<td> {{ q.cor }} </td>
			<td> {{ q.combustivel }} </td>
			<td> {{ q.quilometragem }} </td>
			<td> {{ q.lucro }} </td>
			<td> {{ q.preco }} </td>>
			<td><a href="{% url 'data-Deletar' q.id %}" class="btn btn-danger"></a></td>
		</tr>
		{% endfor %}
	</table>

{% endblock content %}