
*.pyc


usuarios/__pycache__/views.cpython-39.pyc
usuarios/__pycache__/models.cpython-39.pyc
usuarios/__pycache__/admin.cpython-39.pyc
IVG_SITE_DJANGO/__pycache__/settings.cpython-39.pyc
*.pyc
IVG_SITE_DJANGO/__pycache__/urls.cpython-39.pyc
usuarios/__pycache__/admin.cpython-39.pyc
usuarios/__pycache__/forms.cpython-39.pyc
usuarios/__pycache__/models.cpython-39.pyc
