{% extends "APP_IVG/layout.html" %}
{% load static %}
{% block content %}
	<div class="container-fluid" style="background-image: url({% static 'imagens/Faq-Background.jpg' %}); background-size: cover; height: auto; margin: -35px auto -50px; padding: 20% 0; width: 100%;">
	<div class="container bg-light text-center mx-auto text-dark" style="width: 70%; font-size: 2vw; height: auto; border-radius: 15px;"><span class="">FAQ - Dúvidas Frequentes</span>
			<div class="row mt-1">
				<div class="accordion mx-auto">
  <div class="accordion-item mt-3 bg-white">
    <div class="accordion-header" id="headingOne">
      <h5 class="mb-0">
        <button class="accordion-button collapsed border-0 bg-white" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-decoration: none;">
         <span class="text-dark"  style="font-size: 20px;">A IVG faz consultoria?</span>
         <span class="arrow"></span>
        </button> 
      </h5>
    </div>

    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="accordion-body">
        <span class="text-dark" style="font-size: 20px;">A IVG não faz consultoria, simplesmente disponibilizamos dados do seu mercado geral. Qualquer decisão tomada será por parte sua. Vale lembrar que às vezes, disponibilizamos tendências do mesmo. Que você pode ou não aderir.</span>
       </div>
    </div>
  </div>
  <div class="accordion-item mt-3 bg-light">
    <div class="accordion-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="accordion-button collapsed border-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;">
          <span class="text-dark"  style="font-size: 20px;">A IVG faz relatórios para outros setores?</span>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="accordion-body">
        <span style="font-size: 20px;">No momento trabalhamos apenas com revendedoras de carros, devido a seus trabalhos de vendas e revendas.</span>
      </div>
    </div>
  </div>
  <div class="accordion-item mt-3 bg-light">
    <div class="accordion-header" id="headingThree">
      <h5 class="mb-0">
        <button class="accordion-button collapsed border-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-decoration: none;">
          <span class="text-dark"  style="font-size: 20px;">O serviço é pago?</span>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="accordion-body" style="font-size: 20px;">
        Para os contribuintes iniciais, o serviço tem um desconto considerável. Mas, enquanto alimentamos a database, o serviço é gratuito.
      </div>
    </div>
  </div>
   <div class="accordion-item mt-3 bg-light mb-4">
    <div class="accordion-header" id="headingFour">
      <h5 class="mb-0">
        <button class="accordion-button collapsed border-0" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="text-decoration: none;">
          <span class="text-dark"  style="font-size: 20px;">Se eu tiver um grande número de contribuição de dados, eu ganho algo em troca?</span>
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="heading-Four" data-parent="#accordion">
      <div class="accordion-body" style="font-size: 20px;">
        Sim, você ganhará desconto nos futuros planos mensais e associação opinativa, que confere mais prioridade à sua opinião na formação dos novos gráficos.
      </div>
    </div>
  </div>
</div>
{% endblock content %}