{% extends "APP_IVG/layout.html" %}
{% load static %}
{% block content %}
<div id="accordion" class="container-fluid" style=" background-image: url({% static 'imagens/Faq-Background.jpg' %}); background-size: cover; height: auto; margin: -50px 0 0 0; padding: 15vw; width: 100%; ">
	<div id="fundoDoAccordion" class="fundoDoAccordion">
		<p>FAQ - Dúvidas Frequentes</p>
		<button class="accordion">A IVG faz relatórios para outros setores? 
			<i class="bi bi-chevron-down"></i>
		</button>
		<div class="panel">
		 	<p>No momento trabalhamos apenas com revendedoras de carros, devido aos seus trabalhos de vendas e revendas.</p>
		</div>
		<button class="accordion">O serviço é pago?
			<i class="bi bi-chevron-down"></i>
		</button>
		<div class="panel">
			<p>Para os contribuintes iniciais, o serviço tem um desconto considerável. Mas, enquanto alimentamos a database, o serviço é gratuito.</p>
		</div>
		<button class="accordion">Se eu tiver um grande número de contribuição de dados, eu ganho algo em troca? 
			<i class="bi bi-chevron-down"></i>
		</button>
		<div class="panel">
			<p>Sim, você terá uma personificação maior da sua tela empresa. Ou seja, você terá acesso às tendências e aos dados mais específicos da sua empresa. Além do mais, você terá direito maior a pedidos pessoais de gráficos e dados específicos.</p>
		</div>
	</div>
</div>
{% endblock content %}