{% load static %}

<!-- Convencao html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <!-- Final de convencao -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <!-- Icones para bootstrapcdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <!-- Call da css -->
    <link rel="stylesheet" type="text/css" href="{% static 'APP_IVG/main.css' %}">
    <!-- Call dos autocompletes -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Scripts para crud e jquery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/b-1.7.0/datatables.min.css"/>
    <!-- Scripts para javascript e chartjs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/b-1.7.0/datatables.min.js"></script>
	{% if titulo %}
		<title>IVG - {{ titulo }}</title>
	{% else %}	
		<title>IVG</title>
	{% endif%}
</head>
<body>
  <!-- Navbar -->
	  <header id= 'myHeader'>
          <div class="topnav fixed-top" id="myTopnav">
              <a href="{% url 'APP_IVG-Homepage' %}"><img class="logo" id="logo" src="{% static 'imagens/Logo-IVG-azulclaro.png' %}"></a>
              <a class="menu" id="home" aria-current="page" href="{% url 'APP_IVG-Homepage' %}">Home</a>
              <a class="menu" id="sobre" href="{% url 'APP_IVG-Sobre' %}">Sobre</a>
              <a class="menu" id="faq" href="{% url 'APP_IVG-Faq' %}">Faq</a>
              {% if user.is_authenticated %}
                <a class="menu" id="inserirDadosC" href="{% url 'datac-InsiraDadoC' %}">Inserir dados compras</a>
                <a class="menu" id="inserirDados" href="{% url 'data-InsiraDado' %}">Inserir dados vendas</a>
                <a class="menu" id="dadosDeMercado" href="{% url 'data-VisualizarMercado' %}">Dados de mercado</a>
                <a class="menu" id="suaEmpresa" href="{% url 'Empresa' %}">Sua empresa</a>
                <a class="menu" id="logout"  href="{% url 'Logout' %}">Logout</a>
              {% else %}
                <a class="menu" id="login" href="{% url 'Login' %}">Login</a>
                <a class="menu" id="register" href="{% url 'Cadastro' %}">Register</a>
              {% endif %}
              <a id="myHamburguer" class="hamburguer" onclick="myFunction()">
                <div class="bar1" id="bar1"></div>
                <div class="bar2" id="bar2"></div>
                <div class="bar3" id="bar3"></div>
              </a>
          </div>
    </header>
    <!-- Final de navbar -->
    <main id="main" role="main" class="container-fluid p-0 mx-0" style="margin-top: 140px;">
	   <div class="col-md mx-auto mt-0 p-0">
      {% if messages %}
        {% for message in messages %}
          <div class= "alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
		  {% block content %}{% endblock %}
	   </div>
    </main>
    <!-- Rodapé -->
    <footer class="footer bg-dark text-white py-1 mb-0" style="position: absolute; width: 100%; min-height: 160px;">
          <div class="container text-center mt-1">
            <div class="row">
                <div class="col-xl my-auto py-auto">
                  <ul  style="list-style: none; font-size: 14px; padding: 0; display: inline-flex;">
                      <li><a href="{'https://www.facebook.com/ivgtecnologiadedados'}" target="_blank"><img src="{% static 'imagens/Footer-Facebook.png' %}" class="redesocial"></a></li> 
                      <li><a href="{'https://twitter.com/ivgtech'}" target="_blank"><img src="{% static 'imagens/Footer-Twitter.png' %}" class="redesocial2"></a></li> 
                      <li><a href="{'https://www.linkedin.com/company/ivgtecnologia-de-dados/about/?viewAsMember=true'}" target="_blank">
                          <img src="{% static 'imagens/Footer-Linkedin.png' %}"  class="redesocial">
                          </a>
                      </li>
                  </ul>
                </div>
                <div class="col-xl my-auto py-auto">
                    <ul class="text-uppercase" style="list-style: none; font-size: 14px; padding: 0;">
                         <li>Ivg Tecnologia de Dados - Todos os Direitos Reservados</li> 
                         <li>2021</li> 
                    </ul>
                </div>
                <div class="col-xl my-auto py-auto">
                    <ul  style="list-style: none; font-size: 12px; padding: 0; margin-top: 20px;">
                        <li>Rua Livio Edmondo Levi, 25</li> 
                        <li>Cep: 056.92-160</li> 
                        <li>Bairro Morumbi, SP Capital</li>
                        <li>TEL.: (11) 97498-4826</li>
                        <li>SAC: ivgtecnologia@gmail.com</li>
                        <li>CNPJ: 40.462.078/0001-42</li>
                    </ul>
                </div>
            </div>    
          </div>      
    </footer>
    <script type="">
        var x = document.getElementById("myTopnav");
        var y = document.getElementById("myHamburguer");
        var logo = document.getElementById("logo");
        var home = document.getElementById("home");
        var sobre = document.getElementById("sobre");
        var faq = document.getElementById("faq");
        var dadosDeMercado = document.getElementById("dadosDeMercado");
        var inserirDadosC = document.getElementById("inserirDadosC");
        var inserirDados = document.getElementById("inserirDados");
        var suaEmpresa = document.getElementById("suaEmpresa");
        var logout = document.getElementById("logout");
        var login = document.getElementById("login");
        var register = document.getElementById("register");
        var bar1 = document.getElementById("bar1");
        var bar2 = document.getElementById("bar2");
        var bar3 = document.getElementById("bar3");
          /* Responsividade do hamburguer*/
          function myFunction() {
            if (y.className === "hamburguer") {
              y.classList.add("change");
              x.classList.add("responsive");
            }
            else {
              y.classList.remove("change");
              x.classList.remove("responsive");
            }
          }
          window.onscroll = function() {scroll()};
        var sticky = x.offsetTop;
       function scroll() {
            if (window.pageYOffset > sticky) {
              x.classList.add("sticky");
              bar1.classList.add("bg-dark");
              bar2.classList.add("bg-dark");
              bar3.classList.add("bg-dark");
              logo.classList.add("stickyLogo");
              home.classList.add("text-dark");
              sobre.classList.add("text-dark");
              faq.classList.add("text-dark");

                if (login === null) {
              }
              else {
                login.classList.add("text-dark");
                register.classList.add("text-dark");
              }

              if (logout === null) {
              }
              else {
                logout.classList.add("text-dark");
                dadosDeMercado.classList.add("text-dark");
                inserirDadosC.classList.add("text-dark");
                inserirDados.classList.add("text-dark"); 
                suaEmpresa.classList.add("text-dark");
              }

            } else {
              x.classList.remove("sticky");
              bar1.classList.remove("bg-dark");
              bar2.classList.remove("bg-dark");
              bar3.classList.remove("bg-dark");
              logo.classList.remove("stickyLogo");
              home.classList.remove("text-dark");
              sobre.classList.remove("text-dark");
              faq.classList.remove("text-dark");

              if (login === null) {
              }
              else {
              login.classList.remove("text-dark");
              register.classList.remove("text-dark");
              }

              if (logout === null) {
              }
              else {
              dadosDeMercado.classList.remove("text-dark");
              inserirDadosC.classList.remove("text-dark");
              inserirDados.classList.remove("text-dark"); 
              suaEmpresa.classList.remove("text-dark");
              logout.classList.remove("text-dark");
              }

            }
          }

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + 30 + "px";
        } 
      });
    }
    </script> 
    <!-- Bootstrap scripts o do jquery foi retirado para evitar conflitos-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>