{% extends "APP_IVG/layout.html" %}
{% load static %}
{% block content %}
<div class="container-fluid" style=" background-image: url({% static 'imagens/Login-Cadastro-Background.jpg' %}); background-size: cover; height: auto; margin: -50px 0 0 0; padding: 13vw 0 500px 0; width: 100%; ">
	<div class="container bg-white text-dark" style="border-radius: 20px; text-align: center; width: 100%; min-width: 250px; max-width: 500px; padding: 30px; margin: auto;">
		<h2> Você foi deslogado! </h2>
		<div class= "border-top pt-3">
			<small class= "text-muted"> 
				<a class="btn btn-outline-info" href = "{% url 'Login' %}"> Dê login de novo </a>
			</small>
		</div>
	</div>
</div>
{% endblock content %}