{% load i18n %}{% autoescape off %}
{% blocktrans %}Olá você por acaso pediu um reset para
seu usuarío no site {{ site_name }}.{% endblocktrans %}

{% trans "Por favor clique aqui para resetar o seu usuário" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "O seu usuário caso tenha esquecido é" %} {{ user.get_username }}

{% trans "Obrigado por usar nosso site!" %}

{% blocktrans %}Sinceramente {{ site_name }} time{% endblocktrans %}

{% endautoescape %}