{% extends "APP_IVG/layout.html" %}
{% load static %}
{% block content %}
<div class="container-fluid" style=" background-image: url({% static 'imagens/Login-Cadastro-Background.jpg' %}); position: relative; background-size: cover; height: auto; margin: -50px 0 0 0; padding: 50px; width: 100%; ">
	<div class="container text-dark text-center" style="background-color: rgba(255, 255, 255, 0.9); margin-top: 10vw; margin-bottom: 38vw; width: 50%; height: auto; letter-spacing: 2px; padding: 10px 50px 10px 50px; border-radius: 10px;">
		<h1>Um email foi enviado com instruções para enviar sua senha!</h1>
	</div>
	<a href= "{% url 'Login' %}"> De login aqui</a>
</div>
{% endblock content %}