{% extends "APP_IVG/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}	
{% block content %}
	<div class="container-fluid" style=" background-image: url({% static 'imagens/Inserir-Dados-Background.jpg' %}); background-size: cover; height: auto; margin: -50px 0 0 0; padding: 50px; width: 100%;">
	<div class= "content-section text-dark">
		<form action="" method= "POST">
			{% csrf_token %}
			<fieldset class = 'form-group'>
				<legend class= "border-bottom mb-4"> Insira seus dados de compra </legend>
				{{ form|crispy }}
			</fieldset>
			<script>
				  $( function() {
				    var availableTags = [
				    'Acura','Agrale','Alfo Romeo','Am Gen','Asia motors','ASTON MARTIN','Audi','Baby','BMW','BRM','BUGRE','Cadillac',
                    'CBT Jipe','CHANA','CHANGAN','CHERY','Chrysler','Citroën','Cross Lander','Daewoo','Daihatsu',
                    'Dodge','EFFA','Engesa','Envemo','Ferrari','Fiat','Fibravan','Ford','FOTON','Fyber','GEELY','GM CHEVROLET',
                    'GREAT WALL','Gurgel','HAFEI','HITECH ELECTRIC','HONDA','HYUNDAY','ISUZU','IVECO','JAC','Jaguar','Jeep','JINBEI','JPX',
                    'Kia Motors','Lada','Lamborghini','Land Rover','Lexus','LIFAN','LOBINI','Lotus','Mahindra','Maserati','Matra','Mazda',
                    'Mclaren','Mercedez Benz','Mercury','MG','MINI','Mitsubishi','Miura','Nissan','Peugeot','Plymouth','Pontiac','Porsche',
                    'RAM','RELY','Renault','Rolls-Royce','Rover','Saab','Saturn','Seat','SHINERAY','smart','SSANGYONG','Subaru','Suzuki',
                    'TAC','Toyota','Troller','Volvo','VW-VOLKSWAGEN','Wake','Walk'
				    ];
				    $( "#marca" ).autocomplete({
				      source: availableTags
				    });
				  } );
			</script>
			<script>
				  $( function() {
				    var availableTags = [
				    'Amarelo','Azul','Bege','Branco','Bronze','Cinza','Dourado','Indefinida','Laranja','Marrom','Prata','Preto','Rosa','Roxo','Verde','Vermelho','Vinho'
				    ];
				    $( "#cor" ).autocomplete({
				      source: availableTags
				    });
				  } );
			</script>
			<script>
			    $(function () {
			        $("#modelo").autocomplete({
			            source: '{% url 'data-AutocompleteModelo' %}',
			            minLength: 1
			        });
			    });
			</script>
			<script>
			    $(function () {
			        $("#motor").autocomplete({
			            source: '{% url 'data-AutocompleteMotor' %}',
			            minLength: 1
			        });
			    });
			</script>
			<script>
				// Links de import do backend, 
				// Are u sure? Primeiro modelos, segundo motor
				var endpoint = '{% url 'data-DadosDeModeloIns' %}'
				var endpoint = '{% url 'data-DadosDeMotorIns' %}'
							
			</script>
			<div class = "form-group">
				<button class= "btn btn-outline-info" name= 'submit' type= "submit"> Inserir </button>
			</div>		
		</form>
	</div>
	</div>
	
<style>
  .ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  * html .ui-autocomplete {
    height: 200px;
  }
</style>
{% endblock content %}